.Rproj.user
.Rhistory
.RData
.Ruserdata
UE8_bayesien.Rproj
._plot_abt_36c.png
test.html
._UE8_bayesien.Rproj
._plot_tau_36c.png
._plot_a0_36c.png
._plot_b0_36c.png
._test.Rmd
test.Rmd
plot_tau_36c.png
plot_b0_36c.png
plot_a0_36c.png
